@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

*{
	font-family: Raleway,Helvetica;
	padding: 0;
	margin: 0;
}
html,body{
	height: 100%;
	background-color: rgba(232,232,233,1);
}
.grid-container{
	padding:40px 0;
}
/* Navigation */

nav{
	width: 100%;
	height: 75px;
	background-color: rgba(143,97,126,1);
}
nav ul.small{
	position: fixed;
	height: 100%;
	width: 60%;
	background-color: rgba(143,97,126,1);
	box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
	left: -60%;
	transition:all 0.5s, transform 0.5s;
}
nav ul.small.active{
	left:0;
}
nav ul.small li{
	display: block;
	float: none !important;
}
nav ul li{
	display: inline-block;
	float: left;
}
nav ul li a{
	display: block;
	padding:0 20px;
	line-height: 75px;
	height: 75px;
	color:#EDF2F3;
	text-decoration: none;
	transition:all 0.3s, transform 0.3s;
}
nav ul li a:hover{
	background-color: rgba(0,0,0,.16);
}
.menu-btn{
	position: absolute;
	background-color: rgba(0,0,0,.16);
	padding:28px;
	color: #EDF2F3;
	cursor: pointer;
	left: 0;
	transition:all 0.5s, transform 0.5s;
}
.menu-btn.active{
	left: 60%;
}

/* Banniére de l'accueil */

.banner{
	width: 100%;
	height: 60%;
	background-image: url('../images/banner.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.banner h1{
	padding-top: 10%;
}
.opacity{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.25);
}
.opacity h1{
	text-transform: uppercase;
	text-align: center;
	font-size:3em;
	color:#EDF2F3;
	text-shadow:2px 2px 2px rgba(0,0,0,.16);
}
.opacity h2{
	text-align: center;
	padding-top: 30px;
	color:#EDF2F3;
	text-shadow:2px 2px 2px rgba(0,0,0,.16);
}

/* Panels */

.panel{
	background-color: #EDF2F3;
	margin-top:40px;
	margin-bottom: 40px;
	box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
	padding: 0 !important;
}
.panel-banner{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
	text-align: center;
	line-height: 300px;
	text-transform: uppercase;
	color:#EDF2F3;
}
.panel-content{
	padding: 20px;
}
.panel-content h2{
	padding:20px 0;
}
.panel-content p{
	margin:20px;
}
footer{
	min-height: 75px;
	line-height: 75px;
	color: #EDF2F3;
	text-align: center;
	background-color: rgba(143,97,126,1);
}